<div style="text-align:center">
  <br>
  <br>
<h1>신이 나를 만들 때</h1>
<form action="/dkdkdk">
  이름을 입력해주세요:<br><br>
  <input type="text" name='username' ><br>
  <input type="submit" value="Submit">
  <br>
</form>


</div>